.img1,
.img2 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid white;
  padding: 10px;
}

.latestContents {
  width: auto;
}

.screens h2 {
  margin-bottom: 10px;
}

.leftScreen {
  margin-right: 20%;
}

.rightScreen {
  white-space: nowrap;
  /* word-break: break-all; */
}

.screens {
  width: 60%;
  height: auto;
  margin-top: 30%;
  display: flex;
  margin: 0 auto;
  gap: 10%;
}

.latests {
  margin-bottom: 40px;
}

.toLatests {
  text-align: left;
}

.toTags {
  border: solid 1px white;
  padding: 2%;
  /* overflow: scroll; */
}

.toTags ul {
  display: flex;
  gap: 5%;
  word-break: keep-all;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  width: 100px;
  /* padding: 10px 30px 10px 20px; */
  text-align: center;
  margin: 5px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  background-color: darkgray;
  color: black;
  padding: 10px;
}
.button::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 5px);
  /* right: 20px; */
  width: 30px;
  height: 5px;
  border: none;
  border-right: 2px solid #fff;
  border-bottom: 1px solid #fff;
  transform: skew(45deg);
  transition: 0.3s;
}
.button:hover::after {
  width: 100%;
}

.topImgs {
  position: relative;
  width: 200px;
  height: 200px;
  /* margin: 0 auto; */
  display: block;
  overflow: hidden;
  cursor: pointer;
  /* object-fit: cover; */
  border: 2px solid white;
  padding: 10px;
}
.topImgs img {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  display: block;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.topImgs img:nth-of-type(1) {
  top: -100%;
}
.topImgs img:nth-of-type(2) {
  top: 0;
}
.topImgs:hover img:nth-of-type(1) {
  top: 0;
}
.topImgs:hover img:nth-of-type(2) {
  top: 100%;
}

@media screen and (max-width: 768px) {
  .screens {
    flex-direction: column;
    width: 100%;
  }

  .screens h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  .leftScreen {
    margin: 0 auto;
    padding-top: 3%;
  }
  .leftScreen p {
    text-align: center;
    font-size: 0.8rem;
  }

  .topImgs {
    margin: 0 auto;
  }

  .rightScreen {
    padding-top: 10%;
  }

  .latests {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }
  .latests li {
    text-align: left;
    font-size: 0.8rem;
  }
  .button {
    margin-top: 5%;
  }

  .tag {
    padding-top: 5%;
  }

  .toTags {
    width: 75%;
    margin: 0 auto;
  }
}
